[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
python-telegram-bot = "*"
httpx = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[scripts]
"start" = "python main.py"
"test" = "pytest -v"
"test-watch" = "ptw --runner='pytest -v'"
"format" = "black ."
