[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
python-telegram-bot = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[scripts]
"start" = "python main.py"
"test" = "pytest -v"
